{{>partials/header}}

    <p>
        opa, tudo bem!!?? {{user.name}} vc tem {{user.age}} anos?
    <p />

        {{#showOld}}
            opa tudo certo?
        {{/showOld}}
        {{^showOld}}
             tudo bom???
        {{/showOld}}

    <hr />

<form action="/novo-usuario" method="POST">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="firstName"><br><br>

    <label for="sobrenome">Sobrenome:</label><br>
    <input type="text" id="sobrenome" name="LastName"><br><br>

    <label for="idade">Idade:</label><br>
    <input type="text" id="idade" name="age"><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="comentario">interesses, coloque virgula entre eles.:</label><br>
   <input type="text" id="sobrenome" name="interests"><br><br>

    <input type="submit" value="Inserir">
</form>

    <hr />

    <h2>usuarios do banco</h2>

    <ul>
        {{#users}}
            <li>
                {{name.firstName}} - idade -{{age}} - <a href='/usuarios/{{id}}/addidade'>+1 de idade</a>
            </li>
        {{/users}}
    </ul>

{{>partials/footer}}