{{>partials/header}}

    <p>
        opa, tudo bem!!?? {{user.name}} vc tem {{user.age}} anos?
    <p />

        {{#showOld}}
            opa tudo certo?
        {{/showOld}}
        {{^showOld}}
             tudo bom???
        {{/showOld}}

    <hr />

     <form method= "POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        
       
        
        <input type="submit" value="Enviar">
    </form>

    <hr />

    <h2>usuarios do banco</h2>

    <ul>
        {{#users}}
            <li>
                {{name}} - idade -{{age}}
                <a>+</a> 
                <a>-</a> 
                <a>excluir</a>  
            </li>
        {{/users}}
    </ul>





    <h2>lista de serviços</h2>

    <ul>
        {{#produts}}
            <li>{{title}} - {{price}}</li>
        {{/produts}}
    </ul>

    <h2>a partir de 12 mirre</h2>

    <ul>
        {{#Expensives}}
            <li>{{title}} - {{price}}</li>
        {{/Expensives}}
    </ul>

    <hr />
    <h2>frases bonitas</h2>
    <ul>
        {{#list}}
            <li> {{.}} </li>
        {{/list}}

        {{^list}}
            não a vagas
        {{/list}}
    </ul>

    {{>partials/footer}}